//COLOR PALETTE
$background-color:
#a9dfef;
$background-color-dark:
#0390bb;
$background-color-light:
#9ee8ff;
$background-color-modal--1:
#0390bb88;
$background-color-modal--2:
#fe962788;

$accent-color--1: #536dfe;
$accent-color--1-dark: #3351ff;
$accent-color--1-light: #7489fc;
$accent-color--2: #5fdc63;
$accent-color--2-dark: #12b017;
$accent-color--2-light: #71a872;
$accent-color--3: #fe9627;
$accent-color--3-dark: #fc8303;
$accent-color--3-light: #febc76;
$accent-color--4: #fecc35;
$accent-color--4-dark: #fbc420;
$accent-color--4-light: #f8db84;
$accent-color--5: #b8e60f;
$accent-color--5-dark: #9cbd23;
$accent-color--5-light: #c2de5e;

$text-color-primary: #212121;
$text-color-secondary: #757575;
$text-color-trace: #bdbdbd;
$text-color-faint: #ececec;

