//COLOR PALETTE
$background-color: //#ffc107;
rgb(169, 223, 239);
$background-color-dark: //#ffa000;
rgb(3, 144, 187);
$background-color-light: //#ffecb3;
rgb(158, 232, 255);

$accent-color--1: #536dfe;
$accent-color--1-dark: #3351ff;
$accent-color--1-light: #7489fc;
$accent-color--2: #4CAF50;
$accent-color--2-dark: #30b234;
$accent-color--2-light: #91ad92;
$accent-color--3: #fe9627;
$accent-color--3-dark: #fc8303;
$accent-color--3-light: rgb(254, 188, 118);
$accent-color--4: #fe5590;
$accent-color--4-dark: #fe2a74;
$accent-color--4-light: #fd9abd;

$text-color-primary: #212121;
$text-color-secondary: #757575;
$text-color-trace: #bdbdbd;

