.btn {
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem 0.75rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#febc76), to(#fe9627));
  background: linear-gradient(to bottom right, #febc76, #fe9627);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.btn:hover {
  color: white;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  background: -webkit-gradient(linear, left top, right bottom, from(#fe9627), to(#fc8303));
  background: linear-gradient(to bottom right, #fe9627, #fc8303);
}

.btn::after, .btn::-moz-selection {
  background: linear-gradient(to bottom right, #71a872, #5fdc63);
  border: none;
  outline: none;
}

.btn::after, .btn::selection {
  background: -webkit-gradient(linear, left top, right bottom, from(#71a872), to(#5fdc63));
  background: linear-gradient(to bottom right, #71a872, #5fdc63);
  border: none;
  outline: none;
}

.btn:focus {
  outline: none;
}

.choice-panel {
  margin: 2rem;
}

.choice-panel__option-block {
  margin: 1rem;
  padding: 1rem 0.25rem;
  border-radius: 10px;
  color: white;
}

.choice-panel__option-block--food {
  background: -webkit-gradient(linear, left top, right bottom, from(#febc76), to(#fe9627));
  background: linear-gradient(to bottom right, #febc76, #fe9627);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--food:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#fe9627), to(#fc8303));
  background: linear-gradient(to bottom right, #fe9627, #fc8303);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--sleep {
  background: -webkit-gradient(linear, left top, right bottom, from(#7489fc), to(#536dfe));
  background: linear-gradient(to bottom right, #7489fc, #536dfe);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--sleep:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#536dfe), to(#3351ff));
  background: linear-gradient(to bottom right, #536dfe, #3351ff);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--sleep::-moz-selection {
  background-color: #3351ff;
}

.choice-panel__option-block--sleep::selection {
  background-color: #3351ff;
}

.choice-panel__option-block--play {
  background: -webkit-gradient(linear, left top, right bottom, from(#f8db84), to(#fecc35));
  background: linear-gradient(to bottom right, #f8db84, #fecc35);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--play:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#fecc35), to(#fbc420));
  background: linear-gradient(to bottom right, #fecc35, #fbc420);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--play::-moz-selection {
  background-color: #fbc420;
}

.choice-panel__option-block--play::selection {
  background-color: #fbc420;
}

.choice-panel__option-block--travel {
  background: -webkit-gradient(linear, left top, right bottom, from(#71a872), to(#5fdc63));
  background: linear-gradient(to bottom right, #71a872, #5fdc63);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--travel:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#5fdc63), to(#12b017));
  background: linear-gradient(to bottom right, #5fdc63, #12b017);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--travel::-moz-selection {
  background-color: #12b017;
}

.choice-panel__option-block--travel::selection {
  background-color: #12b017;
}

.instructions__list {
  padding-top: 1rem;
  list-style: none;
}

.instructions__paragraph {
  padding: 1rem 1rem 0 1rem;
}

.routine-input {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.2rem;
}

.routine-input__form--label {
  margin: 0 2rem 0 0;
}

.routine-input__form--input {
  margin: 0 2rem 0 0;
  padding: 0.25rem;
  color: #0390bb;
  background-color: #9ee8ff;
  border: none;
  border-radius: 2px;
}

.routine-input__form--dropdown-container {
  margin: 0 1rem 0 0;
  padding: 0.25rem;
  background-color: #a9dfef;
  color: #757575;
  border: none;
  border-radius: 2px;
}

.routine-input__form--dropdown-category {
  background-color: #a9dfef;
}

.routine-input__form--dropdown-option {
  background-color: white;
}

.routine-input__form--dropdown-option::-moz-selection {
  background-color: #0390bb;
}

.routine-input__form--dropdown-option::selection {
  background-color: #0390bb;
}

.routine-input__form--timing {
  padding: 0.15rem;
  border: #a9dfef 2px solid;
  border-radius: 3px;
  color: #757575;
}

.routine-input__form--timing:active {
  background-color: #9ee8ff;
}

.routine-input__form--timing::-moz-selection {
  background-color: #9ee8ff;
}

.routine-input__form--timing::selection {
  background-color: #9ee8ff;
}

#0600__title {
  background-color: yellow;
}

.timeline-container {
  margin: 3rem;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: 10vw (1fr)[15];
      grid-template-columns: 10vw repeat(15, 1fr);
}

.progress-line__title {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  grid-column: 0 / 1;
  height: 5vh;
}

.progress-line__completed {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  grid-column: 2 / -1;
  background-color: #536dfe;
}

.transition-panel {
  text-align: center;
  color: white;
}

.transition-panel figure {
  display: inline-block;
  padding: 1rem 2rem 0 2rem;
  font-size: 6rem;
  background-color: white;
  border-radius: 180px;
}

.transition-panel__description--now, .transition-panel__description--next, .transition-panel__description--then {
  font-size: 2rem;
}

.transition-panel__time--now, .transition-panel__time--next, .transition-panel__time--then {
  font-size: 1.2rem;
}

.transition-panel__icon--now {
  color: #5fdc63;
}

.transition-panel__icon--next {
  color: #63cad8;
}

.transition-panel__icon--then {
  color: #4395d3;
}

.transition-panel__title {
  padding: 1rem 0 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
}

.transition-panel__now {
  background: -webkit-gradient(linear, left top, right bottom, from(#f8db84), to(#fbc420));
  background: linear-gradient(to bottom right, #f8db84, #fbc420);
}

.transition-panel__next {
  background: -webkit-gradient(linear, left top, right bottom, from(#c2de5e), to(#9cbd23));
  background: linear-gradient(to bottom right, #c2de5e, #9cbd23);
}

.transition-panel__then {
  background: -webkit-gradient(linear, left top, right bottom, from(#71a872), to(#12b017));
  background: linear-gradient(to bottom right, #71a872, #12b017);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

::-moz-selection {
  background-color: #a9dfef;
  color: #212121;
}

::selection {
  background-color: #a9dfef;
  color: #212121;
}

body {
  color: #757575;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

.u-margin-bottom-small {
  padding-bottom: 2rem;
}

.brand-logo {
  max-height: 4rem;
}

.footer {
  margin: 2rem 0 0 0;
  padding: 2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#a9dfef), to(#0390bb));
  background: linear-gradient(to bottom right, #a9dfef, #0390bb);
  color: white;
}

.footer__attribution {
  margin: auto;
  font-size: 0.75rem;
}

.app-name {
  color: white;
}

.app-name__logo {
  font-size: 4rem;
  font-weight: 300;
}

.app-name__logo:not(:last-child) {
  letter-spacing: 0.25rem;
}

.app-name__logo span {
  vertical-align: 200%;
  font-size: 0.75rem;
  letter-spacing: 0;
}

.app-name__tagline {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 0;
}

.header {
  margin: 0;
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#a9dfef), to(#0390bb));
  background: linear-gradient(to bottom right, #a9dfef, #0390bb);
}

.header__logo {
  max-height: 20vh;
}

.header__date {
  margin: 0 2rem;
  text-align: left;
  color: white;
  font-size: 0.75rem;
}

.subheader-1 {
  margin: 0;
  padding: 1rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#febc76), to(#fc8303));
  background: linear-gradient(to bottom right, #febc76, #fc8303);
  color: white;
  font-size: 1.6rem;
}

.subheader-2 {
  margin: 0;
  padding: 1rem 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#9ee8ff), to(#0390bb));
  background: linear-gradient(to bottom right, #9ee8ff, #0390bb);
  color: white;
  font-size: 1.6rem;
}
/*# sourceMappingURL=main.css.map */