.btn,
.btn-night {
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem 0.75rem;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.btn:hover,
.btn-night:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.btn::after, .btn::-moz-selection,
.btn-night::after,
.btn-night::-moz-selection {
  border: none;
  outline: none;
}

.btn::after, .btn::selection,
.btn-night::after,
.btn-night::selection {
  border: none;
  outline: none;
}

.btn:focus,
.btn-night:focus {
  outline: none;
}

.btn__link,
.btn-night__link {
  text-decoration: none;
}

.btn__link:hover,
.btn-night__link:hover {
  text-decoration: none;
}

.btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#fdc990), to(#fca03d));
  background: linear-gradient(to bottom right, #fdc990, #fca03d);
}

.btn:hover {
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#fca03d), to(#fc8303));
  background: linear-gradient(to bottom right, #fca03d, #fc8303);
}

.btn::after, .btn::-moz-selection {
  background: linear-gradient(to bottom right, #6bdf6f, #64d168);
}

.btn::after, .btn::selection {
  background: -webkit-gradient(linear, left top, right bottom, from(#6bdf6f), to(#64d168));
  background: linear-gradient(to bottom right, #6bdf6f, #64d168);
}

.btn-night {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1200;
  background-color: white;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.btn-night__link {
  color: #2a213d;
  text-decoration: none;
}

.btn-night__link:hover {
  color: #2a213d;
  text-decoration: none;
}

.btn-night:hover {
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#f5f2fd), to(white));
  background: linear-gradient(to bottom right, #f5f2fd, white);
}

.btn-night::after, .btn-night::-moz-selection {
  background: linear-gradient(to bottom right, #6bdf6f, #64d168);
}

.btn-night::after, .btn-night::selection {
  background: -webkit-gradient(linear, left top, right bottom, from(#6bdf6f), to(#64d168));
  background: linear-gradient(to bottom right, #6bdf6f, #64d168);
}

.choice-panel {
  margin: 2rem;
}

.choice-panel__option-block {
  margin: 1rem;
  padding: 1rem 0.25rem;
  border-radius: 10px;
  color: white;
}

.choice-panel__option-block--food {
  background: -webkit-gradient(linear, left top, right bottom, from(#fdc990), to(#fca03d));
  background: linear-gradient(to bottom right, #fdc990, #fca03d);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--food:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#fca03d), to(#fc8303));
  background: linear-gradient(to bottom right, #fca03d, #fc8303);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--sleep {
  background: -webkit-gradient(linear, left top, right bottom, from(#7489fc), to(#536dfe));
  background: linear-gradient(to bottom right, #7489fc, #536dfe);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--sleep:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#536dfe), to(#3351ff));
  background: linear-gradient(to bottom right, #536dfe, #3351ff);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--sleep::-moz-selection {
  background-color: #3351ff;
}

.choice-panel__option-block--sleep::selection {
  background-color: #3351ff;
}

.choice-panel__option-block--play {
  background: -webkit-gradient(linear, left top, right bottom, from(#f8db84), to(#fbc218));
  background: linear-gradient(to bottom right, #f8db84, #fbc218);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--play:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#fbc218), to(#f1b80b));
  background: linear-gradient(to bottom right, #fbc218, #f1b80b);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--play::-moz-selection {
  background-color: #f1b80b;
}

.choice-panel__option-block--play::selection {
  background-color: #f1b80b;
}

.choice-panel__option-block--travel {
  background: -webkit-gradient(linear, left top, right bottom, from(#6bdf6f), to(#64d168));
  background: linear-gradient(to bottom right, #6bdf6f, #64d168);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.choice-panel__option-block--travel:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#64d168), to(#12b017));
  background: linear-gradient(to bottom right, #64d168, #12b017);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.choice-panel__option-block--travel::-moz-selection {
  background-color: #12b017;
}

.choice-panel__option-block--travel::selection {
  background-color: #12b017;
}

.timeline__morning {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.timeline__afternoon {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.timeline__heading--icon {
  font-size: 3rem;
}

.timeline__time--morning, .timeline__time--afternoon {
  margin: 0;
  padding: 0;
}

.timeline__options--eating, .timeline__options--hygiene, .timeline__options--sleep, .timeline__options--places, .timeline__options--chores, .timeline__options--play, .timeline__options--education {
  padding: 1rem;
  color: white;
}

.timeline__options--eating {
  background-color: #b6d5b6;
}

.timeline__options--hygiene {
  background-color: #e9e99b;
}

.timeline__options--sleep {
  background-color: #b5ebf3;
}

.timeline__options--places {
  background-color: #e4b0eb;
}

.timeline__options--chores {
  background-color: #fbd496;
}

.timeline__options--play {
  background-color: #fba996;
}

.timeline__options--education {
  background-color: #96a5fb;
}

.chore,
.eating,
.sleep,
.places,
.play,
.hygiene,
.education {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
}

.chore {
  background: -webkit-gradient(linear, left top, right bottom, from(orange), to(orangered));
  background: linear-gradient(to bottom right, orange, orangered);
}

.hygiene {
  background: -webkit-gradient(linear, left top, right bottom, from(#e0dd40), to(#ab9b31));
  background: linear-gradient(to bottom right, #e0dd40, #ab9b31);
}

.eating {
  background: -webkit-gradient(linear, left top, right bottom, from(#68c757), to(green));
  background: linear-gradient(to bottom right, #68c757, green);
}

.sleep {
  background: -webkit-gradient(linear, left top, right bottom, from(turquoise), to(teal));
  background: linear-gradient(to bottom right, turquoise, teal);
}

.places {
  background: -webkit-gradient(linear, left top, right bottom, from(#e040db), to(#8c028e));
  background: linear-gradient(to bottom right, #e040db, #8c028e);
}

.play {
  background: -webkit-gradient(linear, left top, right bottom, from(#e0404b), to(#ab3139));
  background: linear-gradient(to bottom right, #e0404b, #ab3139);
}

.education {
  background: -webkit-gradient(linear, left top, right bottom, from(#2d24d4), to(#29129b));
  background: linear-gradient(to bottom right, #2d24d4, #29129b);
}

.icon {
  font-size: 2rem;
}

.activitySlot {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #bdbdbd;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #bdbdbd), color-stop(10%, white), color-stop(92%, white), color-stop(92%, #ececec));
  background: linear-gradient(to bottom right, #bdbdbd 10%, white 10%, white 92%, #ececec 92%);
  min-height: 5rem;
}

.completionSlot {
  padding-top: 0.25rem;
  background-color: #bdbdbd;
  color: white;
  border-radius: 5px;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.completionSlot:hover {
  cursor: pointer;
  background-color: #757575;
}

.highlight {
  background-color: #fc8303;
  border-radius: 20px 20px 5px 5px;
  color: white;
}

.completed {
  background: url(/src/img/star.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  color: white;
}

.instructions__list {
  padding: 1rem 1rem 0 1rem;
  list-style: none;
}

.instructions__paragraph {
  padding: 1rem 1rem 0 1rem;
}

@media screen and (max-width: 37.5em) {
  .instructions__paragraph {
    margin: 0;
  }
}

.introduction__paragraph {
  padding: 1rem;
  font-size: 1.2rem;
}

.modal-window__instructions, .modal-window__stars, .modal-window__nightscreen, .modal-window__cookies {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.modal-window__instructions {
  background-color: #0390bb88;
  z-index: 500;
}

.modal-window__stars {
  background: #fe962788;
  z-index: 600;
}

.modal-window__stars-message--primary {
  font-size: 1.4rem;
  color: #fc8303;
  font-weight: 800;
}

.modal-window__stars-message--secondary {
  font-size: 1.2rem;
  padding-top: 1.5rem;
}

.modal-window__nightscreen {
  background: radial-gradient(transparent, black), url(/src/img/nightscreen-background.png);
  background-size: cover;
  z-index: 800;
}

.modal-window__container, .modal-window__container-night, .modal-window__nightscreen--overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem 1rem;
  border-radius: 5px;
}

.modal-window__container {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #ececec), color-stop(10%, white), color-stop(90%, white), color-stop(90%, #ececec));
  background: linear-gradient(to bottom right, #ececec 10%, white 10%, white 90%, #ececec 90%);
  min-width: 70vw;
}

.modal-window__container-night {
  min-width: 90vw;
}

.modal-window__nightscreen--overlay {
  background: radial-gradient(transparent, black 60%);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1000;
}

.modal-window__step {
  font-weight: 800;
  font-size: 3rem;
  color: #0390bb;
}

.modal-window__heading {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #0390bb;
}

.modal-window__paragraph {
  font-size: 1.2rem;
}

.hidden {
  opacity: 0;
  visibility: none;
  z-index: -100;
}

.nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #bdbdbd;
  font-size: 0.75rem;
  text-align: right;
}

.nav__list {
  list-style: none;
}

.nav__item {
  margin-left: 1rem;
  display: inline;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.nav__item--link {
  text-decoration: none;
  color: #ececec;
}

.nav__item--link:hover {
  color: white;
  background-color: none;
  cursor: pointer;
}

.nav__item--link-active {
  color: white;
}

.routine-input {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.2rem;
}

.routine-input__form--label {
  margin: 0 2rem 0 0;
}

.routine-input__form--input {
  margin: 0 2rem 0 0;
  padding: 0.25rem;
  color: #0390bb;
  background-color: #9ee8ff;
  border: none;
  border-radius: 2px;
}

.routine-input__form--dropdown-container {
  margin: 0 1rem 0 0;
  padding: 0.25rem;
  background-color: #a9dfef;
  color: #757575;
  border: none;
  border-radius: 2px;
}

.routine-input__form--dropdown-category {
  background-color: #a9dfef;
}

.routine-input__form--dropdown-option {
  background-color: white;
}

.routine-input__form--dropdown-option::-moz-selection {
  background-color: #0390bb;
}

.routine-input__form--dropdown-option::selection {
  background-color: #0390bb;
}

.routine-input__form--timing {
  padding: 0.15rem;
  border: #a9dfef 2px solid;
  border-radius: 3px;
  color: #757575;
}

.routine-input__form--timing:active {
  background-color: #9ee8ff;
}

.routine-input__form--timing::-moz-selection {
  background-color: #9ee8ff;
}

.routine-input__form--timing::selection {
  background-color: #9ee8ff;
}

.tools__panel--1, .tools__panel--2, .tools__panel--3 {
  padding: 3rem 2rem 2rem 2rem;
  vertical-align: middle;
}

.tools__panel--1 {
  background: linear-gradient(120deg, #f8db84, #fbc218);
}

.tools__panel--1:hover {
  background: linear-gradient(120deg, #fbc218, #f1b80b);
  cursor: pointer;
}

.tools__panel--2 {
  background: linear-gradient(120deg, #c2de5e, #b8e60f);
}

.tools__panel--2:hover {
  background: linear-gradient(120deg, #b8e60f, #9cbd23);
}

.tools__panel--3 {
  background: -webkit-gradient(linear, left top, right bottom, from(#6bdf6f), to(#64d168));
  background: linear-gradient(to bottom right, #6bdf6f, #64d168);
}

.tools__panel--3:hover {
  background: linear-gradient(120deg, #64d168, #12b017);
}

.tools__panel--icon {
  display: inline;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 120px;
  background-color: white;
  font-size: 3rem;
}

.tools__panel--link {
  text-decoration: none;
  color: white;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

.tools__panel--link::before, .tools__panel--link::after, .tools__panel--link:visited {
  color: white;
}

.tools__panel--heading {
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 600;
}

.tools__panel--caption {
  font-size: 1.1rem;
}

.transition-panel {
  margin: 0;
  text-align: center;
  color: white;
  background-color: transparent;
}

.transition-panel figure {
  display: inline-block;
  padding: 1rem 2rem 0 2rem;
  font-size: 6rem;
  background-color: white;
  border-radius: 180px;
}

.transition-panel__description--now, .transition-panel__description--next, .transition-panel__description--then {
  font-size: 2rem;
}

.transition-panel__time--now, .transition-panel__time--next, .transition-panel__time--then {
  font-size: 1.2rem;
}

.transition-panel__icon--now {
  color: #64d168;
}

.transition-panel__icon--next {
  color: #63cad8;
}

.transition-panel__icon--then {
  color: #4395d3;
}

.transition-panel__title {
  padding: 1rem 0 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
}

.transition-panel__now {
  background: -webkit-gradient(linear, left top, right bottom, from(#f8db84), to(#f1b80b));
  background: linear-gradient(to bottom right, #f8db84, #f1b80b);
}

.transition-panel__next {
  background: -webkit-gradient(linear, left top, right bottom, from(#c2de5e), to(#9cbd23));
  background: linear-gradient(to bottom right, #c2de5e, #9cbd23);
}

.transition-panel__then {
  background: -webkit-gradient(linear, left top, right bottom, from(#6bdf6f), to(#12b017));
  background: linear-gradient(to bottom right, #6bdf6f, #12b017);
}

.video-stars__video {
  position: fixed;
  -ms-flex-line-pack: center;
      align-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

@media screen and (max-width: 75em) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 60%;
  }
}

::-moz-selection {
  background-color: #a9dfef;
  color: #212121;
}

::selection {
  background-color: #a9dfef;
  color: #212121;
}

body {
  position: absolute;
  color: #757575;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

.u-margin-bottom-small {
  padding-bottom: 2rem;
}

.u-margin-top-small {
  padding-top: 2rem;
}

.brand-logo {
  max-height: 4rem;
}

.highlight-text {
  color: #0390bb;
  font-weight: 600;
  font-size: 1.4rem;
}

.highlight-text--large {
  color: #0390bb;
  font-weight: 600;
  font-size: 1.6rem;
}

.footer {
  padding: 2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#a9dfef), to(#0390bb));
  background: linear-gradient(to bottom right, #a9dfef, #0390bb);
  color: white;
}

.footer__logo {
  max-height: 17vh;
}

@media screen and (max-width: 75em) {
  .footer__logo {
    max-height: 14vh;
  }
}

@media screen and (max-width: 37.5em) {
  .footer__logo {
    max-height: 10vh;
  }
}

.footer__attribution {
  margin: auto;
  font-size: 0.75rem;
}

.footer__attribution--music {
  font-size: 0.5rem;
}

.footer-night {
  margin: 0;
  height: 40vh;
  background: linear-gradient(120deg, #2a213d, #060509);
}

.app-name {
  color: white;
}

.app-name__logo {
  font-size: 4rem;
  font-weight: 300;
}

.app-name__logo:not(:last-child) {
  letter-spacing: 0.25rem;
}

.app-name__logo span {
  vertical-align: 200%;
  font-size: 0.75rem;
  letter-spacing: 0;
}

.app-name__tagline {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 0;
}

.header,
.header-night {
  position: relative;
  margin: 0;
  padding: 2rem 0;
}

.header__logo,
.header-night__logo {
  max-height: 20vh;
}

@media screen and (max-width: 56.25em) {
  .header__logo,
  .header-night__logo {
    max-height: 15vh;
  }
}

@media screen and (max-width: 37.5em) {
  .header__logo,
  .header-night__logo {
    max-height: 12vh;
    margin: 1.5rem 0 0.5rem 0;
  }
}

.header {
  background: linear-gradient(120deg, #a9dfef, #0390bb);
}

.header__date {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: left;
  color: white;
  font-size: 0.75rem;
}

@media screen and (max-width: 37.5em) {
  .header__date {
    text-align: center;
  }
}

.header-night {
  background: linear-gradient(120deg, #2a213d, #100d18);
}

.subheader-1,
.subheader-2,
.subheader-3 {
  margin: 0;
  padding: 1rem 0 0.6rem 0;
  color: white;
  font-size: 1.6rem;
}

.subheader-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fca03d), color-stop(80%, #fc8303));
  background: linear-gradient(to bottom, #fca03d, #fc8303 80%);
}

.subheader-2 {
  background: -webkit-gradient(linear, left top, right bottom, from(#9ee8ff), to(#0390bb));
  background: linear-gradient(to bottom right, #9ee8ff, #0390bb);
}

.subheader-3 {
  background: -webkit-gradient(linear, left top, right bottom, from(#6ae6d9), to(#4da2a2));
  background: linear-gradient(to bottom right, #6ae6d9, #4da2a2);
}

.row {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */