.header {
    margin: 0;
    padding: 2rem 0;
    background: linear-gradient(to bottom right, $background-color, $background-color-dark);

    &__logo {
        max-height: 20vh;
    }

    &__date {
        margin: 0 2rem;
        text-align: left;
        color: white;
        font-size: 0.75rem;
    }
}

.subheader-1 {
    margin: 0;
    padding: 1rem 0;
    background: linear-gradient(to bottom right, $accent-color--3-light, $accent-color--3-dark);
    color: white;
    font-size: 1.6rem;
}

.subheader-2 {
    margin: 0;
    padding: 1rem 0;
    background: linear-gradient(to bottom right, $background-color-light, $background-color-dark);
    color: white;
    font-size: 1.6rem;
}