.nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    line-height: 1.2rem;
    color: $text-color-trace;
    font-size: 0.75rem;
    text-align: right;

    &__list {
        list-style: none;
    }

    &__item {
        margin-left: 1rem;
        display: inline;
        transition: 200ms all ease-in-out;

        &--link {
            text-decoration: none;
            color: $text-color-faint;
            transition: 200ms all ease-in-out;

            &:hover {
                color: white;
                background-color: none;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }

    &__item--link-active {
        color: white;
    }
}