*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

::selection {
    background-color: $background-color;
    color: $text-color-primary;
}

body {
    color: $text-color-secondary;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}

.timeline-container {
    margin: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 10vw repeat(15, 1fr);
}